@model IEnumerable<ConsumeWebAPI.Models.PatientRecordModel>

@{
    ViewBag.Title = "Manipulate Server Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patient Records</h2>

<article>
    <p>
        <img src="PatientRecord/ChartArrayBasic"/>
    </p>
</article>

<aside>
    <h3>Patient Information</h3>
    <ul>
        <li>Name: John Smith</li>
        <li>ID: 90000101</li>
    </ul>
</aside>
