@model IEnumerable<ConsumeWebAPI.Models.PatientRecordModel>

@{
    ViewBag.Title = "Manipulate Server Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patient Records</h2>

<article>
    <p>
        Here you can check patient records.
    </p>

    <p>
        <img src="PatientRecord/ChartArrayBasic"/>
    </p>
</article>

<aside>
    <h3>Patient</h3>
    <p>
        Information:
    </p>
    <ul>
        <li>Name: John Smith</li>
        <li>ID: 01</li>
        <li>RecordID: 01</li>
    </ul>
</aside>
