@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        The Next Generation of Hospital Management System.
    </p>
    <p>
        By: Y Zheng
    </p>
    <p>
            B Gao
    </p>
</article>
