@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Please register and log in with your health care organization email.
    </li>

    <li class="two">
        <h5>Connect with your patient</h5>
        Click Doctor's Requests to add your requests.
    </li>

    <li class="three">
        <h5>Collect information</h5>
        Click Patient Records to view your patient's records.
    </li>
</ol>
